.add-option {
    display: flex; 
    padding: $m-size; 
}

.add-option__input {
    flex-grow: 1; 
    padding: $m-size;
    background-color: $dark-blue; 
    border: none; 
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin-right: $s-size; 
    color: $off-white;
    font-size: $m-size; 
}

.add-option__error {
    color: $off-white; 
    font-style: italic; 
    font-size: $m-size;
    margin: $m-size 0 0 0; 
    padding: $m-size; 
}

@media (max-width: $mobile-breakpoint) {
    .add-option {
        flex-direction:column; 
    }

    .add-option__input {
        margin: 0 0 $s-size 0; 
    }
}